{% extends 'BuildDeliveryBundle::default.html.twig' %}

{% block content %}
<!-- Begin page content -->
<div class="container">

    <div class="page-header">
        <h2><span class="glyphicon glyphicon-cloud"></span> Production Standing</h2>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Available ELBs</b>
            </div>

            <div class="panel-body">
                <table class="table">
                <thead>
                    <tr>
                        <th>ELB Name</th>
                        <th>Instances</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for lb in data %}
                    <tr>
                        <td>{{ lb.LoadBalancerName }}</td>
                        <td>
                            {% for i in lb.Instances %}
                                {% if i.State == 'InService' %}
                                    <a href="{{ path('prod_instance_detail', { 'instance_id': i.InstanceId }) }}" class="label label-success">{{ i.InstanceId }}</a>
                                {% else %}
                                    <a href="{{ path('prod_instance_detail', { 'instance_id': i.InstanceId }) }}" class="label label-danger">{{ i.InstanceId }}</a>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {#
                        <td>
                            {% for a in lb.AvailabilityZones %}
                                <a href="#" class="label label-warning">{{ a }}</a>
                            {% endfor %}
                        </td>
                        #}
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger btn-sm">Deploy</button>
                                <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" class="link-deploy" data-elb="{{ lb.LoadBalancerName }}" data-strategy="clone">Cloned Instances</a></li>
                                    <li><a href="#" class="link-deploy" data-elb="{{ lb.LoadBalancerName }}" data-strategy="build">New Build</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div><!-- row -->

</div><!-- container -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- content here -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block javascript %}
<script id="deploy-dialog-content" type="text/html">
{% raw %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">
            <span class="glyphicon glyphicon-cloud-upload"></span> Deployment Confirmation
        </h3>
    </div>

    <div class="modal-body" style="text-align: center">
        <p>You are about to <strong class="text-info">deploy new {{deployStrategy}} to {{loadBalancer}}</strong>. 
        Confirm this action?</p>

        <a href="{{ deployLink }}" class="btn btn-primary" id="link-deploy-proceed">
            <span class="glyphicon glyphicon-thumbs-up"></span> Yes Please!
        </a>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
    </div>
{% endraw %}
</script>

<script>
var deploy_link = "{{ path('deploy_form') }}";
var data = {};

$('.link-deploy').click( function() {
    var elb_name = $(this).attr('data-elb');
    var strategy = $(this).attr('data-strategy');

    data = {
        loadBalancer  : elb_name,
        deployStrategy: strategy,
        deployLink    : deploy_link + '/' + strategy + '/' + elb_name
    };

    var output = Mustache.to_html( $('#deploy-dialog-content').html(), data )

    $('#myModal .modal-content').html(output);
    $('#myModal').modal('toggle')
});
</script>
{% endblock javascript %}
