{% extends 'BuildDeliveryBundle::default.html.twig' %}

{% block content %}
<!-- Begin page content -->
<div class="container">

    <div class="page-header">
        <h2><span class="glyphicon glyphicon-cloud"></span> Production Standing</h2>
    </div>

    <div class="row">
    {% for lb in data %}
        {{ include(
            'BuildDeliveryBundle:Production:partial.panel.prod-groups.html.twig',
            { 'loadBalancer': lb }
        ) }} 
    {% endfor %}
    </div><!-- row -->

</div><!-- container -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <!-- content here -->
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block javascript %}
<script id="deploy-dialog-content" type="text/html">
{% raw %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">
            <span class="glyphicon glyphicon-cloud-upload"></span> Deployment Confirmation
        </h3>
    </div>

    <div class="modal-body" style="text-align: center">
        <p>You are about to <strong class="text-info">deploy new {{deployStrategy}} to {{loadBalancer}}</strong>. 
        Confirm this action?</p>

        <a href="{{ deployLink }}" class="btn btn-primary" id="link-deploy-proceed">
            <span class="glyphicon glyphicon-thumbs-up"></span> Yes Please!
        </a>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
    </div>
{% endraw %}
</script>

<script>
var deploy_link = "{{ path('deploy_form') }}";
var data = {};

$('.link-deploy').click( function() {
    var elb_name = $(this).attr('data-elb');
    var strategy = $(this).attr('data-strategy');

    data = {
        loadBalancer  : elb_name,
        deployStrategy: strategy,
        deployLink    : deploy_link + '/' + strategy + '/' + elb_name
    };

    var output = Mustache.to_html( $('#deploy-dialog-content').html(), data )

    $('#myModal .modal-content').html(output);
    $('#myModal').modal('toggle')
});
</script>
{% endblock javascript %}
