<div class="panel panel-default lb-group">

    <div class="panel-body">

        <h4 style="margin-bottom: 0.9em; margin-top: 0.126em; color: #666; padding-left: 5px;">
            <span class="glyphicon glyphicon-download-alt"></span> LB: {{ loadBalancer.LoadBalancerName }}
        </h4>

        <!-- Standard Instances -->
        {% if loadBalancer.Instances is defined %}
            {{ include(
                'BuildDeliveryBundle:Production:partial.panel.prod-groups-standard-instances.html.twig',
                { 'loadBalancer': loadBalancer }
            ) }}
        {% endif %}

        <!-- Autoscale Groups -->
        {% if loadBalancer.AutoScaleGroups is defined %}
            {% for as in loadBalancer.AutoScaleGroups %}
            {{ include(
                'BuildDeliveryBundle:Production:partial.panel.prod-groups-autoscale-instances.html.twig',
                { 'asGroup': as, 'loadBalancer': loadBalancer.LoadBalancerName }
            ) }}
            {% endfor %} 
        {% endif %}


        <!-- deploy button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">Deploy to this environment</button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="link-deploy" data-elb="{{ lb.LoadBalancerName }}" data-strategy="build">New Build</a></li>
                <li><a href="#" class="link-deploy" data-elb="{{ lb.LoadBalancerName }}" data-strategy="clone">Cloned Instances</a></li>
            </ul>
        </div>
        <!-- deploy button -->

    </div><!-- panel-body -->
</div><!-- panel -->

